/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

body{
  margin: 0;
  color: white;
}

header {
  background-color: #2D2D2D;
  width: 100%;

}
main {
  font-family: 'futura-pt', sans-serif;
  width: 100%;
}

li {
  list-style-type: none;
}

button {
  background:transparent;
  border:none;
  outline:none;
}

/*bovenste balk*/
.navigatie{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 2%;
}

.navigatie li:first-of-type img{
  width: 2em;
}

.navigatie li:nth-of-type(2) img {
  width: 6em;
  padding-top: 0.03em;
}


.navigatie li:nth-of-type(3) img{
  width: 2em;
}

.navigatie li:nth-of-type(4) img{
  width: 2em;
}


.navigatie li:nth-of-type(5) img{
  width: 2em;
}

/*Hier nieuw blok*/
main section:first-of-type {
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em 1em 2em;
}

section:first-of-type h1 {
  font-family: futura-pt-bold, sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 2em;
  background-color: white;
  width: 7em;
  height: 1.3em;
  margin-bottom: 0.5em;
  margin-top: 0.6em;
  color: black;
  text-align: center;
  letter-spacing: 0.02em;
}


main section:first-of-type p:first-of-type {
 font-family: futura-pt, sans-serif;
 font-size: 1.2em;
 font-style: normal;
 font-weight: 400;
 margin: 0;
 text-align: center;
}

main section:first-of-type p:nth-of-type(2) {
 font-family: 'futura-pt', sans-serif;
 font-weight: 400;
 font-style: normal;
 color: white;
 margin-bottom: 1em;
 font-size: 0.7em;
 text-align: center;
}

/*lijst met aanbevelingen*/
main > ul:first-of-type {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

main > ul:first-of-type li h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.8em;
  color: black;
  text-align: center;
}

main > ul:first-of-type li p {
  color: black;
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}
main ul li img {
  width: 100%;
}

main > ul:first-of-type li {
  width: 40%;
}

/*nu shoppen lijst*/
main > ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

main > ul:nth-of-type(2) li {
  width: 90%;
  position: relative;
  text-align: center;
}

main > ul:nth-of-type(2) li img {
  width: 100%;
}

main > ul:nth-of-type(2) li h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-align: center;
  letter-spacing: 0.05em;
}

main > ul:nth-of-type(2) li p {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-align: center;
  font-size: 1.3em;
}

main > ul:nth-of-type(2) button {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  text-align: center;
  font-size: 1.3em;
  border: 3px black solid;
  margin: 0em 0em 1em 0em;
}

/* active en focus */
main > ul:nth-of-type(2) button:active {
  box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);
}

main > ul:nth-of-type(2) button:focus{
  border: 3px solid red;
}

/*menu*/
.menuasos {
  position: fixed;
  justify-content: space-evenly;
  z-index: 44;
  margin: 0em;
  width: 80%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-120%);
  transition: 0.2s;
  background-color: white;
}

.menuasos ul:nth-of-type(2) {
  display: none;
}

.menuasosopen {
  transition: 0.2s;
  background-color: white;
  transform: translateX(0%);
}

.menuasos ul li p {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  position: absolute;
  color: black;
  top: 2.5em;
  left: 2em;
}

.menuasos ul li:first-of-type p {
  top: 1em;
  left: 2em;
}

.menuasos ul li:nth-of-type(2) a p {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  position: absolute;
  color: white;
}

.menuasos ul {
  padding: 0;
  overflow: scroll;
  height: 90%;

}
.menuasos ul li {
  position: relative;

}
.menuasos ul li img {
  width: 90%;
  margin: 1em 0em 0em 1em;
}

.menuasos ul li img:hover {
  box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);
}

.menuasos button:first-of-type {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  border-bottom: 2px grey solid;
  position: relative;
  width: 49%;
  color: #666666;
  background: white;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.04em;
  padding: 5%;
}

/* active en focus */
.menuasos button:first-of-type:active {
  box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);
}

.menuasos button:first-of-type:focus{
   border: 1px solid red;
}

.menuasos button:nth-of-type(2) {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    border-bottom: 2px grey solid;
    position: relative;
    width: 49%;
    color: #666666;
    background: white;
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.04em;
    padding: 5%;
}

/* active en focus */
.menuasos button:nth-of-type(2):active {
  box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);
}

.menuasos button:nth-of-type(2):focus{
  border: 1px solid red;
}


.menuasos button.actief {
  border-bottom: 2px black solid;
  color: black;
}


.menuasos button:nth-of-type(3) {
  background-color: #2d2d2d;
  position: absolute;
  top: 0em;
  right: -3.8em;
  width: 17%;
}

/* active en focus */
.menuasos button:nth-of-type(3):active {
  box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);

}

.menuasos button:nth-of-type(3):focus{
   border: 5px solid red;
}


.menuasos button:nth-of-type(3) img {
  margin: 0;
  width: 71%;
  padding-top: 0.6em;
}


.menuasos ul.verdwijnen {
  display: none;
}

.menuasos ul.tevoorschijn {
  display: block;
}

/*pagina2*/

/*bovenste balk pagina2*/
#pagina2 .navigatie li:first-of-type img{
  width: 2em;
}

#pagina2 .navigatie li:nth-of-type(2) img {
  width: 6em;
  padding-top: 0.03em;
}

#pagina2 .navigatie li:nth-of-type(3) img{
  width: 2em;
}

#pagina2 .navigatie li:nth-of-type(4) img{
  width: 2em;
}


#pagina2 .navigatie li:nth-of-type(5) img{
  width: 2em;
}

/*blok nieuwe sweaters dames en heren*/
#pagina2 section:first-of-type {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 2em 1em 2em;
}

#pagina2 section:first-of-type h2 {
  font-family: futura-pt-bold, sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.6em;
  margin-bottom: 1.5em;
  height: 1.3em;
  margin-top: 0;
  color: black;
  text-align: center;
  letter-spacing: 0.02em;
}

#pagina2 section:first-of-type p:first-of-type {
    font-family: 'futura-pt', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1em;
    padding-top: 2em;
    text-align: center;
    color: black;
}

#pagina2 section:first-of-type p:nth-of-type(2) {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    position: relative;
    padding: -10%;
    padding: -15%;
    padding: -8%;
    margin: 0;
    font-size: 1.3em;
    text-align: center;
    }

/*sorteer en filteren button pagina2*/
#pagina2 button:first-of-type {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    border: none;
    position: relative;
    width: 50%;
    color: #666666;
    background: #eee;
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.04em;
    padding: 4%;
}

/* active en focus */
#pagina2 button:first-of-type:active {
  box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);
}

#pagina2 section:nth-of-type(2) {
  display: flex;
}


#pagina2 button:nth-of-type(2) {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  border: none;
  position: relative;
  width: 50%;
  color: #666666;
  background: #eee;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.04em;
  padding: 4%;
}

/* filteren button ingedrukt */
#pagina2 button:nth-of-type(2).inklikken{
  animation-name: kleinermaken;
  transform-origin: center bottom;
  animation-duration:0.3s;
  animation-iteration-count:1;
  animation-timing-function: linear;
}

/* filteren knop ingedrukt animatie */
@keyframes kleinermaken {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
 100%{
    transform: scale(1);
  }
}

/* active en focus */
#pagina2 button:nth-of-type(2):active {
  box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);
}

#pagina2 button:nth-of-type(2):focus {
  border: 1px solid red;
}

/*lijst met alle producten*/
#pagina2 > ul:first-of-type {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  }

#pagina2 p:first-of-type {
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  text-align: center;
}

#pagina2 ul:first-of-type li p {
  color: black;
  text-align: left;
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  }

#pagina2 > ul:first-of-type li h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.8em;
  color: #666;
  text-align: left;
  letter-spacing: 0.05em;
  }

/*hartjesknop*/
#pagina2 .favorite {
  width: 100%;
  background: white;
  padding-bottom: 0.25em;
  }

#pagina2 ul:first-of-type li button {
  width: 20%;
  height: 10%;
  background-color: white;
  border-radius: 3em;
  top: 4%;
  left: 75%;
  position: absolute;
}

/* hartjesknop zwart */
#pagina2 ul:first-of-type li button {
  background-image: url(../images/asoshartje.png);
  background-size: 1.3em;
  background-position: center;
  background-repeat: no-repeat;
}

#pagina2 ul:first-of-type li:first-of-type button.ingekleurd {
  background-image: url(../images/asoshartjezwart.png);
  animation: hartje-animatie 0.5s;
}

/* hartje bonkt animatie */
@keyframes hartje-animatie {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* active en focus */
#pagina2 ul:first-of-type li button:focus {
  transform: scale(1.05);
}

#pagina2 ul:first-of-type li button:active {
  box-shadow: 5px 4px 6px 0px rgba(0,0,0,0.75);
}


#pagina2  ul:first-of-type li {
  width: 45%;
  position: relative;
  }
