/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

body{
  margin: 0;
  color: white;
}

header {
  background-color: #2D2D2D;
  margin: 0;
  height: 3em;
  width: 100%;
  top: -1em;
  position: relative;
}

nav {
width: 100%;
height: 100%;
}

nav ul {
  display: flex;
  width: 100%;
  height: 100%;
}

header nav ul li:first-of-type img{
  width: 4em;
  position: absolute;
}

header nav ul li:first-of-type {
  position: absolute;
  left: 0;
  margin: 0.5em 0em 0em 0em
}

header nav ul li:nth-of-type(2) img {
  width: 6em;
  position: absolute;
}

header nav ul li:nth-of-type(2) {
  position: absolute;
  left: 7em;
  top: 0.236em;
}

header nav ul li:nth-of-type(3) img{
  width: 3em;
}

header nav ul li:nth-of-type(3) {
  position: absolute;
  right: 3em;
  margin: 0.3em 0em 0em 0em;
}

header nav ul li:nth-of-type(4) img{
  width: 4em;
  position: absolute;

}

header nav ul li:nth-of-type(4) {
  position: absolute;
  right: 3em;
margin: -1.2em 0em 0em 0em;
}

header nav ul li:nth-of-type(5) img{
  width: 2em;
  position: absolute;
}

header nav ul li:nth-of-type(5) {
  position: absolute;
  left: 3em;
  margin: -0.5em 0em 0em 1em;
}

section:first-of-type {
    font-family: 'Archivo Black', sans-serif;
  font-weight: bold;
  font-style: italic;
}

section:first-of-type img {
  width: 42em;
  height: 19em;
  margin: 0em 0em 0em -10em;
}

section:first-of-type p {
  position: absolute;
font-size: 2.2em;
left: 0.4em;
top: 4em;
background-color: #ED1C3C;
width: 91%;
text-align: center;
}

section:first-of-type h1 {
  position: absolute;
      font-size: 2.4em;
      left: 2.4em;
      top: 1.9em;
      background-color: #ED1C3C;
      height: 8%;
      padding: 0em 0em 1.3em 0em;
}

li {
  list-style-type: none;
}
header h1{
  color: white;
  margin: 0px 0px 0px 147px;
}
header nav li:first-of-type img {
  width:
  position: absolute;
  left: 0;
  top: 0;
}
button {
  background:transparent;
  border:none;
  outline:none;
}
